<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="round-issue ruby">Rails</div>
      <div class="round-issue java">Hibernate</div>
      <div class="round-issue js">Angular</div>
      <div class="round-issue css">Bootstrap</div>
      <div class="round-issue scala">Scala</div>
      <div class="round-issue python">Bottle</div>
      <div class="round-issue js">Grunt</div>
      <div class="round-issue css">Zurb</div>
      <div class="round-issue scala">Scalloid</div>
      <div class="round-issue python">Django</div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <ul>
        <li><a href="<%= search_path :language => 'ruby' %>">Ruby</a></li>
        <li><a href="<%= search_path :language => 'javascript' %>">Javascript</a></li>
        <li><a href="<%= search_path :language => 'python' %>">Python</a></li>
      </ul>
    </div>
  </div>
</div>