<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="top-projects">
        <!-- rendered in pages.js -->
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <ul>
        <% top_languages.each do |l|  %>
        <li><a href='<%= search_path :language => "#{l}"%>'><%= l %></a></li>
        <% end %>
      </ul>
    </div>
  </div>
</div>