<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <h1>Search page - <%= @language %></h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <h2>Filtros</h2>
    </div>
    <div class="col-md-9">
      <h2>Results</h2>
      <div class="result-item">
        issue: Fix bug | project: Rails | ...
      </div>
    </div>
  </div>
</div>