.round-issue {
  width: 20rem;
  height: 20rem;
  border-radius: 50%;
  text-align: center;
  color: white;
  font-size: 2.2rem;
  line-height: 20rem;
  float: left;
  margin-left: 4rem;
  margin-top: 4rem;
  &.ruby {
    background: #C52F24;
  }

  &.java {
    background: black;
  }

  &.js {
    background: yellow;
    color: black;
  }

  &.python {
    background: green;
  }

  &.css {
    background: purple;
  }

  &.scala {
    background: blue;
  }
}