.round-issue.not-a-language-color {
  background: #BABACA;
}


.ags-script-color {
  background: #B9D9FF;
}


.antlr-color {
  background: #9DC3FF;
}


.apl-color {
  background: #8a0707;
}


.asp-color {
  background: #6a40fd;
}


.ats-color {
  background: #1ac620;
}


.actionscript-color {
  background: #e3491a;
}


.ada-color {
  background: #02f88c;
}


.agda-color {
  background: #467C91;
}


.alloy-color {
  background: #cc5c24;
}


.arc-color {
  background: #ca2afe;
}


.arduino-color {
  background: #bd79d1;
}


.aspectj-color {
  background: #1957b0;
}


.assembly-color {
  background: #a67219;
}


.autohotkey-color {
  background: #6594b9;
}


.autoit-color {
  background: #36699B;
}


.blitzmax-color {
  background: #cd6400;
}


.boo-color {
  background: #d4bec1;
}


.c-color {
  background: #555;
}


.c-color {
  background: #178600;
}


.cpp-color {
  background: #f34b7d;
}


.css-color {
  background: #563d7c;
}


.chapel-color {
  background: #8dc63f;
}


.cirru-color {
  background: #aaaaff;
}


.clean-color {
  background: #3a81ad;
}


.clojure-color {
  background: #db5855;
}


.coffeescript-color {
  background: #244776;
}


.coldfusion-color {
  background: #ed2cd6;
}


.coldfusion-cfc-color {
  background: #ed2cd6;
}


.common-lisp-color {
  background: #3fb68b;
}


.component-pascal-color {
  background: #b0ce4e;
}


.d-color {
  background: #fcd46d;
}


.dm-color {
  background: #075ff1;
}


.dart-color {
  background: #98BAD6;
}


.dogescript-color {
  background: #cca760;
}


.dylan-color {
  background: #3ebc27;
}


.e-color {
  background: #ccce35;
}


.ecl-color {
  background: #8a1267;
}


.eagle-color {
  background: #3994bc;
}


.eiffel-color {
  background: #946d57;
}


.elixir-color {
  background: #6e4a7e;
}


.elm-color {
  background: #60B5CC;
}


.emacs-lisp-color {
  background: #c065db;
}


.emberscript-color {
  background: #f64e3e;
}


.erlang-color {
  background: #0faf8d;
}


.f-color {
  background: #b845fc;
}


.flux-color {
  background: #33CCFF;
}


.fortran-color {
  background: #4d41b1;
}


.factor-color {
  background: #636746;
}


.fancy-color {
  background: #7b9db4;
}


.fantom-color {
  background: #dbded5;
}


.forth-color {
  background: #341708;
}


.frege-color {
  background: #00cafe;
}


.game-maker-language-color {
  background: #8ad353;
}


.glyph-color {
  background: #e4cc98;
}


.gnuplot-color {
  background: #f0a9f0;
}


.go-color {
  background: #375eab;
}


.golo-color {
  background: #f6a51f;
}


.gosu-color {
  background: #82937f;
}


.grammatical-framework-color {
  background: #ff0000;
}


.groovy-color {
  background: #e69f56;
}


.harbour-color {
  background: #0e60e3;
}


.haskell-color {
  background: #29b544;
}


.haxe-color {
  background: #f7941e;
}


.hy-color {
  background: #7891b1;
}


.idl-color {
  background: #e3592c;
}


.io-color {
  background: #a9188d;
}


.ioke-color {
  background: #078193;
}


.isabelle-color {
  background: #fdcd00;
}


.java-color {
  background: #b07219;
}


.javascript-color {
  background: #f1e05a;
}


.julia-color {
  background: #a270ba;
}


.krl-color {
  background: #f5c800;
}


.lfe-color {
  background: #004200;
}


.lolcode-color {
  background: #cc9900;
}


.lsl-color {
  background: #3d9970;
}


.lasso-color {
  background: #2584c3;
}


.latte-color {
  background: #A8FF97;
}


.livescript-color {
  background: #499886;
}


.lookml-color {
  background: #652B81;
}


.lua-color {
  background: #fa1fa1;
}


.mtml-color {
  background: #0095d9;
}


.mask-color {
  background: #f97732;
}


.matlab-color {
  background: #bb92ac;
}


.max-color {
  background: #ce279c;
}


.mercury-color {
  background: #abcdef;
}


.mirah-color {
  background: #c7a938;
}


.nemerle-color {
  background: #0d3c6e;
}


.netlogo-color {
  background: #ff2b2b;
}


.nimrod-color {
  background: #37775b;
}


.nit-color {
  background: #0d8921;
}


.nix-color {
  background: #7070ff;
}


.nu-color {
  background: #c9df40;
}


.ocaml-color {
  background: #3be133;
}


.objective-c-color {
  background: #438eff;
}


.objective-cpp-color {
  background: #4886FC;
}


.objective-j-color {
  background: #ff0c5a;
}


.omgrofl-color {
  background: #cabbff;
}


.opal-color {
  background: #f7ede0;
}


.oxygene-color {
  background: #5a63a3;
}


.oz-color {
  background: #fcaf3e;
}


.pawn-color {
  background: #dbb284;
}


.php-color {
  background: #4F5D95;
}


.pan-color {
  background: #cc0000;
}


.papyrus-color {
  background: #6600cc;
}


.parrot-color {
  background: #f3ca0a;
}


.pascal-color {
  background: #b0ce4e;
}


.perl-color {
  background: #0298c3;
}


.perl6-color {
  background: #0298c3;
}


.piglatin-color {
  background: #fcd7de;
}


.pike-color {
  background: #066ab2;
}


.pogoscript-color {
  background: #d80074;
}


.processing-color {
  background: #2779ab;
}


.prolog-color {
  background: #74283c;
}


.propeller-spin-color {
  background: #2b446d;
}


.puppet-color {
  background: #cc5555;
}


.pure-data-color {
  background: #91de79;
}


.purebasic-color {
  background: #5a6986;
}


.purescript-color {
  background: #bcdc53;
}


.python-color {
  background: #3581ba;
}


.qml-color {
  background: #44a51c;
}


.r-color {
  background: #198ce7;
}


.raml-color {
  background: #77d9fb;
}


.racket-color {
  background: #ae17ff;
}


.ragel-in-ruby-host-color {
  background: #ff9c2e;
}


.rebol-color {
  background: #358a5b;
}


.red-color {
  background: #ee0000;
}


.rouge-color {
  background: #cc0088;
}


.ruby-color {
  background: #701516;
}


.rust-color {
  background: #dea584;
}


.sas-color {
  background: #1E90FF;
}


.sqf-color {
  background: #FFCB1F;
}


.scala-color {
  background: #7dd3b0;
}


.scheme-color {
  background: #1e4aec;
}


.self-color {
  background: #0579aa;
}


.shell-color {
  background: #89e051;
}


.shen-color {
  background: #120F14;
}


.slash-color {
  background: #007eff;
}


.slim-color {
  background: #ff8877;
}


.smalltalk-color {
  background: #596706;
}


.sourcepawn-color {
  background: #f69e1d;
}


.standard-ml-color {
  background: #dc566d;
}


.supercollider-color {
  background: #46390b;
}


.swift-color {
  background: #ffac45;
}


.systemverilog-color {
  background: #343761;
}


.tcl-color {
  background: #e4cc98;
}


.tex-color {
  background: #3D6117;
}


.turing-color {
  background: #45f715;
}


.typescript-color {
  background: #31859c;
}


.unified-parallel-c-color {
  background: #755223;
}


.unrealscript-color {
  background: #a54c4d;
}


.vcl-color {
  background: #0298c3;
}


.vhdl-color {
  background: #543978;
}


.vala-color {
  background: #ee7d06;
}


.verilog-color {
  background: #848bf3;
}


.viml-color {
  background: #199c4b;
}


.visual-basic-color {
  background: #945db7;
}


.volt-color {
  background: #0098db;
}


.xquery-color {
  background: #2700e2;
}


.zephir-color {
  background: #118f9e;
}


.edn-color {
  background: #db5855;
}


.nesc-color {
  background: #ffce3b;
}


.ooc-color {
  background: #b0b77e;
}


.wisp-color {
  background: #7582D1;
}


.xbase-color {
  background: #3a4040;
}